.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  offset-path: path(
    "M18.45,58.46s52.87-70.07,101.25-.75,101.75-6.23,101.75-6.23S246.38,5.59,165.33,9.08s-15,71.57-94.51,74.56S18.45,58.46,18.45,58.46Z"
  );
  animation-name: pathAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes pathAnimation {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
